.searchlogo{
    .logo{
       width: 33%;
       height: 5rem;
       background: pink;
       margin: 20vh auto 5vh;
       background: url('../../../../../../assets/logo.png') no-repeat;
       background-size:contain;
    }
    #fakebox-container {
        display: flex;
        height: 3rem;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
        border-radius: 1.5rem;
        // position: absolute;
        // top:50%;
        width: 33%;
        margin: 0 auto;
        // left: 50%; 
        // top: 33%;
        // transform: translate(-50%);
        #fakebox-search-icon{
            height: 100%;
            width: 1.5rem;
            border-radius: 1.5rem 0 0 1.5rem;
        }
        .svgsearch{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1rem;
            margin-top:1rem;
            width: 1rem;
            // background: pink;
        }
        #voice{
            height: 100%;
            width: 3rem;
            border-radius: 0 1.5rem 1.5rem 0;    
        }
        #fakebox-input {
            width: 100%;
            border: none;
            box-sizing: border-box;
            padding-inline-start: 1rem;
            color: rgb(117, 117, 117);
        }
    }
}