@media (min-width: 576px){
    .channels{
        max-width: 95%;
    }
}

.channelswrap{
    position: relative;
    padding: 0;
    
    .plus{
        display: flex;
        align-items: center;
        margin-left: 1rem;
        // background: #c8ced3;      
    }
    .nav{
        display: flex;
        flex-wrap: nowrap;
        background: #c8ced3;
       
        .navtab{
            width: 14%;
            flex-shrink: 1;
            overflow: hidden;
            position: relative;
            transition: .5s;
            // border-right: 1px solid #000;
            .tablink{
                border:none;
            }
            
            .closeicon{
               position: absolute;
               right: 5%;
               top: 50%;
               transform: translateY(-50%)
            }

            .divider{
               position: absolute;
               right: 0;
               top:20%;
               height: 60%;
               display: inline-block;
               width: 1px;
               background: #000;
               transition: .1s;
            }
    
            .tabtext{
                width: 80%;
                display: inline-block;
                overflow: hidden;
                display: flex;
                align-items: center;
            }
        }
    }
   
}   


