.detail{
    flex-grow: 1;
    margin-left: 2rem;

    .title{
        font-size: 1.5rem;
        color: #999;
        font-weight: 700;
        line-height: 4rem;
        height: 4rem;
        padding-left: 1.5rem;
    }
    %message-common {
        cursor: pointer;
        position: relative;
        font-size: .8rem;
        color: #20a8d8;
        &::before{
            content: "";
            position: absolute;
            left: 50%;
            bottom: -2px;
            width: 0;
            height: 2px;
            background: #20a8d8;
            transition: all .3s;
        };
    }
   .webauthn{
        @extend %message-common;
        &:hover:before{
            width: 100%;
            left: 0;
            right: 0;
        }
    }
}