@media (min-width: 576px){
    .modalbody{
        max-width: 95%;
    }
}
.modalbody{
    .user{
        display: flex;
        align-items: center;
    }
    .nav{
        display: flex;
        flex-wrap: nowrap;
        padding-right: 1rem;
        align-items: center;
    }
    .navtab{
        flex-shrink: 1;
        // display: flex;
        // justify-content: flex-start;
        // padding-left: .2rem;
        // align-items: center;
        width: 15%;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        .closeTab{
            position: absolute;
            right: .3rem;
            top: 50%;
            transform: translateY(-50%)
        }
    }
}
