// .chatclient{
//     display: flex;
//     flex-direction: column;
//     .chatSection{
//         flex-grow: 1;
//     }
// }
.client-chat {
    background: #c0d9d9;
    padding: 20px;
    height: 100%;
    .section {
        height: 55vh;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        font-size: 16px;
        .message-wrap {
            .message {
                background: #32cd32;
                display: inline-block;
            }
            .user {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}